<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myitems.cdb1.robTenantsmag.mapper.RobtenantsComplainMapper">
	<resultMap type="RobTenantsComplainBean" id="RobTenantsComplainMap">
		<id property="id" column="id" javaType="java.lang.Long"/>
		<result property="complainant" column="complainant" javaType="java.lang.String"/>
		<result property="beComplaint" column="beComplaint" javaType="java.lang.String"/>
		<result property="complainantDate" column="complainantDate" javaType="java.sql.Date"/>
		<result property="status" column="status" javaType="java.lang.String"/>
		<result property="reasons" column="reasons" javaType="java.lang.String"/>
		
		<association property="dealBean" javaType="DealBean"  column="fkDealId" fetchType="lazy" select="org.myitems.cdb1.landladymag.mapper.DealMapper.getDealById"></association>
		<association property="robBean" javaType="RobTenantsBean" column="fkRobManId" fetchType="lazy" select="org.myitems.cdb1.robTenantsmag.mapper.RobTenantsMapper.getRobTenantsById"></association>
		
		
	</resultMap>
	

	
	<select id="getRobTenantsComplainListByItems" resultMap="RobTenantsComplainMap">
		select * from t_robTenantsComplain
		<include refid="commonSql"></include>
	</select>
	


	<sql id="commonSql">
		<where>
			<if test="map.fkLandladyId!=null">
				and fkRobManId=#{map.fkRobtenantId}
			</if>
		</where>
	
	</sql>
</mapper>