<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myitems.cdb1.landladymag.mapper.DealMapper">
	<resultMap type="DealBean" id="dealMap">
		<id property="id" column="id" javaType="java.lang.Long"/>
		<result property="status" column="status" javaType="java.lang.String"/>
		<result property="robStatus" column="robStatus" javaType="java.lang.String"/>
		<association property="robTenants" javaType="RobTenantsBean" column="fkRobManId" fetchType="eager" select="org.myitems.cdb1.robTenantsmag.mapper.RobTenantsMapper.getRobTenantsById"></association>
		<association property="landlady" javaType="LandladyBean" column="fkLandladyId" fetchType="eager" select="org.myitems.cdb1.landladymag.mapper.LandladyMapper.getLandladyById"></association>
		<association property="carportIssue" javaType="CarportIssueBean" column="fkCarportIssueId" fetchType="eager" select="org.myitems.cdb1.landladymag.mapper.CarportIssueMapper.getCarportIssueById">
		</association>
	</resultMap>
	<select id="getDealById" resultMap="dealMap">
		select * from t_deal where id=#{id}
	</select>
	
	
	<select id="getCountDealListByItems" resultType="int">
		select count(*) from t_deal
		<include refid="commonSql"></include>
	</select>
	
	<select id="getDealListByItems" resultMap="dealMap">
		select * from t_deal
		<include refid="commonSql"></include>
	</select>
	


	<sql id="commonSql">
		<where>
			<if test="map.fkRobtenantId!=null">
				and fkRobManId=#{map.fkRobtenantId}
			</if>
			<if test="map.fkLandladyId != null">
				and fkLandladyId=#{map.fkLandladyId}
			</if>
			<if test="map.status!=null">
				and status=#{map.status}
			</if>
			<if test="map.robStatus!=null">
				and robStatus=#{map.robStatus}
			</if>
		</where>
	
	</sql>
</mapper>