<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myitems.cdb1.landladymag.mapper.PredetermineCarportMapper">
	<resultMap type="PredetermineCarportBean" id="predetermineCarportMap">
		<id property="id" column="id" javaType="java.lang.Long"/>
		<result property="message" column="message" javaType="java.lang.String"/>
		<result property="status" column="status" javaType="java.lang.String"/>
		<association property="robBean" javaType="RobTenantsBean" column="fkRobtenantId" fetchType="eager" select="org.myitems.cdb1.robTenantsmag.mapper.RobTenantsMapper.getRobTenantsById"></association>
		<association property="landlady" javaType="LandladyBean" column="fkLandladyId" fetchType="eager" select="org.myitems.cdb1.landladymag.mapper.LandladyMapper.getLandladyById"></association>
		<association property="carBean" javaType="CarportIssueBean" column="fkCorportIssueId" fetchType="eager" select="org.myitems.cdb1.landladymag.mapper.CarportIssueMapper.getCarportIssueById">
		</association>
	</resultMap>
	
	<select id="getCountPredetermineCarportListByItems" resultType="int">
		select count(*) from t_predetermineCarport
		<include refid="commonSql"></include>
	</select>
	
	<select id="getPredetermineCarportListByItems" resultMap="predetermineCarportMap">
		select * from t_predetermineCarport
		<include refid="commonSql"></include>
	</select>
	


	<sql id="commonSql">
		<where>
			<if test="map.fkLandladyId!=null">
				and fkLandladyId=#{map.fkLandladyId}
			</if>
			<if test="map.fkCorportIssueId">
				and fkCorportIssueId=#{map.fkCorportIssueId}
			
			</if>
			<if test="map.robId">
				and fkRobtenantId=#{map.robId}
				
			</if>
			and status="待处理"
		</where>
	
	</sql>
</mapper>